= title action

= form_for @vacation do |f|
	= render '/shared/form_errors', record: @vacation
	
	= render '/requests/form', f: f, action: action
	
	= render '/shared/my_text_field', f: f, symbol: :duration, text: t(:duration)
	= render '/shared/my_text_field', f: f, symbol: :from, text: t(:from)
	= render '/shared/my_text_field', f: f, symbol: :to, text: t(:to)
	
	= render '/passports/passport', passport: @vacation.passport
	= render '/passports/form', f: f
	
	= render '/shared/form_footer', f: f, action: action
