= title action

= form_for @vacation do |f|
	= render '/requests/form', f: f, type: Vacation::Type, action: action
	
	%div= my_text_field f, :duration, t(:duration), required: true
	%div= my_text_field f, :from, t(:from), required: true
	%div= my_text_field f, :to, t(:to), required: true
	
	= render '/passports/passport', passport: @vacation.passport
	= render '/passports/form', f: f
	
	= render '/shared/form_footer', f: f, action: action
