= provide :title, action

= form_for @vacation do |f|
	= render '/requests/form', f: f, type: Vacation::Type, action: action
	
	%div= f.text_field :duration, placeholder: t('.duration')
	%div= f.text_field :from, placeholder: t('.from')
	%div= f.text_field :to, placeholder: t('.to')
	
	= eval render_submit_field

