= render '/shared/request', header: t('.header'), request: vacation

%p
	%b= t('vacations.form.duration') + ': '
	= vacation.duration
	
%p
	%b= t(:from) + ': '
	= vacation.from
	
%p
	%b= t(:to) + ': '
	= vacation.to

= render '/shared/request_footer', edit_link: edit_vacation_path(vacation), request: vacation
