= render '/shared/request', header: t('.header'), request: vacation

%p
	%b= t('vacations.form.duration') + ': '
	= vacation.duration
	
%p
	%b= t(:from) + ': '
	= vacation.from
	
%p
	%b= t(:to) + ': '
	= vacation.to

%div= eval back_to_requests