- header = t('.header')
= provide :title, header

%div.page-header
	%h1= header

%div.lead
	%p
		%b= t(:applicant) + ': '
		= vacation.request.applicant.name
	
	%p
		%b= t('vacations.form.duration') + ': '
		= vacation.duration
	
	%p
		%b= t(:from) + ': '
		= vacation.from
	
	%p
		%b= t(:to) + ': '
		= vacation.to