= form_for [@request, @decision] do |f|
	%div.page-header
		%h1= action
	= f.hidden_field :request_id, value: @request.id
	
	= render('/shared/my_text_field', f: f, symbol: :number,
		text: t(:decision_number), options: { autofocus: true })
	
	= render '/shared/form_footer', f: f, action: action
