= form_for [@request, @decision] do |f|
	%div.page-header
		%h1= action
	= f.hidden_field :request_id, value: @request.id
	%div= my_text_field f, :number, t(:decision_number), autofocus: true, required: true
	
	= render '/shared/form_footer', f: f, action: action
