= form_for [@request, @decision] do |f|
	%div.page-header
		%h1= action
	= f.hidden_field :request_id, value: @request.id
	%div= f.text_field :number, placeholder: t('.number')
	
	= render '/shared/form_footer', f: f, action: action
