%dl
	%dt= t('applicants.form.name')
	%dd= applicant.name
	%dt User
	%dd= link_to applicant.user.username, applicant.user
	%dt Location
	%dd= link_to applicant.location_name, applicant.location
	%dt Requests Count
	%dd= applicant.requests.size
