%div.navbar.navbar-static-top
	%div.navbar-inner
		%div.container
			%div.navbar-form{class: ar ? 'pull-left' : 'pull-right'}
				= link_to t(:locale), locale_update_path(locale: ar ? 'en' : 'ar'), method: :put, class: 'btn btn-primary'
				= link_to t('.logout'), '#', class: 'btn btn-danger'
			%ul.nav{ class: ar ? 'pull-right' : '' }
				%li= link_to t(:request), requests_path
				%li= link_to t('.new_user'), '#'
				%li= link_to t('.alert_users'), alerts_path