%div.navbar.navbar-static-top
	%div.navbar-inner
		%div.container
			%div.navbar-form.pull-right= link_to 'Logout', '#', class: 'btn btn-danger'				
			%ul.nav
				= render '/partials/navbar_dropdown'
				
				%li= link_to t('.new_user'), '#'
				%li= link_to t('.alert_users'), '#'
				%li= link_to t('.received_requests'), '#'
				%li= link_to t('.previous_requests'), '#'