= title action

= form_for @user do |f|
	%div.page-header
		%h1= action
		
	= render '/shared/form_errors', record: @user
	
	= render('/shared/my_text_field', f: f, symbol: :username, text: t(:username),
	options: { autofocus: true })
	
	%div
		= f.password_field :password, placeholder: t(:password)
		-#= get_required_label true
	
	= render '/locations/form', f: f
	
	= render '/shared/form_footer', f: f, action: action
