= provide :title, action

= form_for @user do |f|
	%div.page-header
		%h1= action
	%div= my_text_field(f, :username, t(:username), autofocus: true,
		required: true)
	%div= f.password_field :password, placeholder: t(:password)
	= render '/locations/form', f: f
	
	= render '/shared/form_footer', f: f, action: action
