%dl
	%dt= t('users.form.username')
	%dd= user.username
	%dt= t('locations.form.name')
	%dd= link_to user.location_name, user.location
	%dt= t(:applicants_count)
	%dd= user.applicants.count
	%dt= t(:requests_count)
	%dd= user.requests.count
