- if users.present?
	%table.table.table-striped
		%thead
			%tr
				%th #
				%th= t('users.form.username')
				%th= t('locations.form.name')
				%th= t(:applicants_count)
				%th= t(:requests_count)
				%th= t(:modify)
		%tbody
			- i = 1
			- users.each do |user|
				%tr
					%td= i
					- i += 1
					%td= link_to user.username, user
					%td= link_to user.location_name, user.location
					%td= user.applicants.count
					%td= user.requests.count
					%td= render partial: '/users/btn_group', layout: '/layouts/btn_group', locals: { user: user }
- else
	%div.lead= t('.empty')