%dl
	%dt= t('users.form.username')
	%dd= user.username
	%dt Location
	%dd= link_to user.location_name, user.location
	%dt Applicants Count
	%dd= user.applicants.count
	%dt Requests Count
	%dd= user.requests.count
