- users = t('.users')
= provide :title, users

%div.page-header
	%h1= users
- if @users.present?
	%table.table.table-hover
		%thead
			%tr
				%th #
				%th= t('users.form.username')
				%th= t('users.form.location')
		%tbody
			- i = 1
			- @users.each do |user|
				%tr
					%td= i
					%td= user.username
					%td= user.location.name
					- i += 1
- else
	%div.lead= t('.empty')

= link_to t('users.new.action'), new_user_path, class: 'btn btn-large btn-success'
