- users = t('.users')
= provide :title, users

%div.page-header
	%h1= users
- if @users.present?
	%table.table.table-striped
		%thead
			%tr
				%th #
				%th= t('users.form.username')
				%th= t('users.form.location')
				%th= t('.modify')
		%tbody
			- i = 1
			- @users.each do |user|
				%tr
					%td= i
					- i += 1
					%td= user.username
					%td= user.location_name
					%td
						%div.btn-group{ dir: 'ltr' }
							- klass = 'btn btn-small '
							= link_to t(:edit), edit_user_path(user), class: (klass + 'btn-success')
							= link_to t(:destroy), user, method: :delete, class: (klass + 'btn-danger')
- else
	%div.lead= t('.empty')

= link_to t('users.new.action'), new_user_path, class: 'btn btn-large btn-success'
