= provide :title, header

%div.page-header
	%h1= header
	%span{ class: get_label_class(request.request.accepted) }
		= get_status(request.request.accepted)

%p
	%b= t(:applicant) + ': '
	= request.applicant_name