- if requests.any?
	- requests.each do |request|
		%tr{ class: request.accepted.nil? ? 'warning' : (request.accepted ? 'success' : 'error')}
			%td= request.applicant
			%td= type
			%td= request.accepted.nil? ? t('.pending') : (request.accepted ? t('.accepted') : t('.rejected'))
			%td
				%div.btn-group{ dir: 'ltr' }
					- klass = 'btn btn-small '
					= link_to t('.accept'), '', class: (klass + 'btn-success')
					= link_to t('.reject'), '', class: (klass + 'btn-danger')
