- requests = t('.requests')
= provide :title, requests

%div.page-header
	%h1= requests

- if @requests.empty?
	%p.lead= t('.empty')
	
- else
	%table.table.table-hover
		%thead
			%tr
				%th #
				%th= t(:applicant)
				%th= t('.request_type')
				%th= t('.status')
				%th= t('.decide')
		%tbody
			- i = 1
			- @requests.each do |request|
				%tr{ class: get_row_class(request.accepted) }
					%td
						= link_to i, request
						- i += 1
					%td= request.applicant_name
					%td= t(request.rtype.try :to_sym)
					%td
						- if request.decision
							= link_to t('.accepted'), request_decision_path(request, request.decision)
						- else
							= get_status(request.accepted)
					%td
						%div.btn-group{ dir: 'ltr' }
							- klass = 'btn btn-small '
							= link_to t('.accept'), new_request_decision_path(request, d: 'accept'), class: (klass + 'btn-success')
							= link_to t('.reject'), new_request_decision_path(request, d: 'reject'), class: (klass + 'btn-danger')


%div.btn-group{ dir: 'ltr' }
	- klass = 'btn btn-primary btn-large'
	= link_to t(:coming), new_coming_path, class: klass
	= link_to t(:leave), new_leafe_path, class: klass
	= link_to t(:ticket), new_ticket_path, class: klass
	= link_to t(:vacation), new_vacation_path, class: klass
