- requests = t('.requests')
= provide :title, requests

%div.page-header
	%h1= requests

- if @requests.empty?
	%p.lead= t('.empty')
	
- else
	%table.table.table-hover
		%thead
			%tr
				%th #
				%th= t(:applicant)
				%th= t('.request_type')
				%th= t('.status')
				%th= t('.decide')
		%tbody
			- i = 1
			- @requests.each do |request|
				%tr{ class: request.accepted.nil? ? 'warning' : (request.accepted ? 'success' : 'error')}
					%td
						= link_to i, request
						- i += 1
					%td= request.applicant_name
					%td= t(request.rtype.try :to_sym)
					%td= request.accepted.nil? ? t('.pending') : (request.accepted ? t('.accepted') : t('.rejected'))
					%td
						%div.btn-group{ dir: 'ltr' }
							- klass = 'btn btn-small '
							= link_to t('.accept'), '', class: (klass + 'btn-success')
							= link_to t('.reject'), '', class: (klass + 'btn-danger')


%div.btn-group{ dir: 'ltr' }
	- klass = 'btn btn-primary btn-large'
	= link_to t(:coming), new_coming_path, class: klass
	= link_to t(:leave), new_leafe_path, class: klass
	= link_to t(:ticket), new_ticket_path, class: klass
	= link_to t(:vacation), new_vacation_path, class: klass
