%div.page-header
	%h1= t('.requests')

- if @comings.empty? && @leaves.empty? && @tickets.empty? && @vacations.empty?
	%p.lead= t('.empty')
	
- else
	%table.table
		%thead
			%tr
				%th= t(:applicant)
				%th= t('.request_type')
				%th= t('.status')
				%th= t('.decide')
		%tbody
			- i = 1
			= render 'request', requests: @comings, type: t(:coming)
			= render 'request', requests: @leaves, type: t(:leave)
			= render 'request', requests: @tickets, type: t(:ticket)
			= render 'request', requests: @vacations, type: t(:vacation)

%div.btn-group{ dir: 'ltr' }
	- klass = 'btn btn-primary btn-large'
	= link_to t(:coming), new_coming_path, class: klass
	= link_to t(:leave), new_leafe_path, class: klass
	= link_to t(:ticket), new_ticket_path, class: klass
	= link_to t(:vacation), new_vacation_path, class: klass
