= title action

= form_for @leave do |f|
	= render '/shared/form_errors', record: @leave
	
	= render '/requests/form', f: f, action: action
	
	= render '/shared/reason_field', f: f
	
	= render '/shared/form_footer', f: f, action: action
