= form_tag @leave do
	%fieldsset
		%legend
			%h1= action
		%div= hidden_field :leave, :user_id, value: 0
		%div= text_field :leave, :applicant, placeholder: t(:applicant), title: t(:applicant), autofocus: ''
		%div= text_field :leave, :reason, placeholder: t('.reason'), title: t('.reason')
	= submit_tag action, class: 'btn btn-success btn-large'