= title action

= form_for @leave do |f|
	= render '/shared/form_errors', record: @leave
	
	= render '/requests/form', f: f, action: action
	
	%div= reason_field f
	
	= render '/shared/form_footer', f: f, action: action
