= provide :title, action

= form_for @leave do |f|
	= render '/requests/form', f: f, type: Leave::Type, action: action
	
	%div= f.text_field :reason, placeholder: t('.reason')
	
	= render partial: '/shared/submit_btn_group', layout: '/layouts/btn_group', locals: { f: f, action: action }
