= title action

= form_for @ticket do |f|
	= render '/shared/form_errors', record: @ticket
	
	= render '/requests/form', f: f, action: action
	
	= render '/shared/my_text_field', f: f, symbol: :line, text: t(:line)
	= render('/shared/my_text_field', f: f, symbol: :number, text: t(:res_number),
		options: { extra: true })
	
	= render '/companions/form', f: f
	= render '/passports/passport', passport: @ticket.passport
	= render '/passports/form', f: f
	
	= render '/shared/form_footer', f: f, action: action
