= form_for ticket do |f|
	= render '/shared/form', action: action, f: f
	%div= f.text_field :line, placeholder: t('.line'), title: t('.line')
	%div= f.text_field :number, placeholder: t('.number'), title: t('.number')
	= eval render_submit_field
