= provide :title, action

= form_for @ticket do |f|
	= render '/requests/form', f: f, type: Ticket::Type, action: action
	
	%div= my_text_field f, :line, t('.line'), required: true
	%div= my_text_field f, :number, t('.number')
	
	= render '/companions/form', f: f
	= render '/passports/passport', passport: @ticket.passport
	= render '/passports/form', f: f
	
	= render '/shared/form_footer', f: f, action: action
