= form_for @ticket do |f|
	= render '/requests/form', f: f, type: Ticket::Type, action: action
	
	- line, number = t('.line'), t('.number')
	%div= f.text_field :line, placeholder: line
	%div= f.text_field :number, placeholder: number
	
	= render '/companions/form', f: f
	= eval render_submit_field
