= render '/shared/request', header: t('.header'), request: ticket
	
%p
	%b= t('tickets.form.line') + ': '
	= ticket.line
	
- if ticket.number.try(:present?)
	%p
		%b= t('tickets.form.number') + ': '
		= ticket.number

%div= eval back_to_requests