= render '/shared/request_header', header: t(:show_ticket), request: ticket

= render('/shared/resource_attributes',
	attributes: { t(:line) => ticket.line,
	t(:res_number) => (ticket.number.presence or t(:na)) })

= render '/passports/passport', passport: ticket.passport

= render '/companions/companions', companions: ticket.companions

= render('/shared/resource_footer', back_path: requests_path,
	edit_path: edit_ticket_path(ticket), resource: ticket.request)
