= render '/shared/request_header', header: t('.header'), request: ticket

= render('/shared/resource_attributes',
	attributes: { t('tickets.form.line') => ticket.line,
	t('tickets.form.number') => ticket.number })

= render '/passports/passport', passport: ticket.passport

= render '/companions/companions', companions: ticket.companions

= render '/shared/resource_footer', back_path: requests_path, edit_path: edit_ticket_path(ticket), resource: ticket.request
