= title action

= form_for @alert do |f|
	%div.page-header
		%h1= action
	
	= my_text_field f, :title, t(:title), { autofocus: true }
	
	%div
		= f.text_area(:body, placeholder: t(:body), rows: 8,
			required: true)
		-# = get_required_label(true)
	
	= render '/shared/form_footer', f: f, action: action
