= provide :title, action

= form_for @alert do |f|
	%div.page-header
		%h1= action
	%div= f.text_field :title, placeholder: t('.title'), autofocus: 'autofocus'
	%div= f.text_area :body, placeholder: t('.body'), rows: 8
	= render partial: '/shared/submit_btn_group', layout: '/layouts/btn_group', locals: { f: f, action: action }