- alerts = t('.alerts')
= provide :title, alerts

%div.page-header
	%h1= alerts

- if @alerts.present?
	- @alerts.each do |alert|
		%h2= alert.title
		%p.lead= alert.body
- else
	%div.lead= t('.empty')

%div= link_to t('alerts.new.action'), new_alert_path, class: 'btn btn-success btn-large'
