- header = t('.header')
= provide :title, header

%div.page-header
	%h1= header

%div.lead
	%p
		%b= t(:applicant) + ': '
		= coming.request.applicant.name
	
	%p
		%b= t('comings.form.reason') + ': '
		= coming.reason
