= title action

= form_for @coming do |f|
	= render '/shared/form_errors', record: @coming
	
	= render '/requests/form', f: f, action: action
	
	%div= reason_field f
	
	= render '/shared/form_footer', f: f, action: action
