= provide :title, action

= form_for @coming do |f|
	= render '/requests/form', f: f, type: Coming::Type, action: action
	
	- reason = t('.reason')
	%div= f.text_field :reason, placeholder: reason
	
	= eval render_submit_field
