%label.lead{ for: 'companions' }= t('.companions')

= f.fields_for :companions, id: 'companions' do |h|
	%div
		- klass = get_mini_input_class
		= my_text_field h, :name, t(:name), klass: klass
		= my_text_field h, :relation, t(:relation), klass: klass
		= my_text_field h, :birthdate, t(:birthdate), klass: klass
