= form_for coming_leave do |f|
	%div.page-header
		%h1= action
	%div= eval render_user_field
	%div= eval render_applicant_field
	%div= f.text_field :reason, placeholder: t('.reason'), title: t('.reason')
	= eval render_submit_field