%dl
	%dt= t('locations.form.name')
	%dd= location.name
	%dt= t(:users_count)
	%dd= location.users.size
	%dt= t(:applicants_count)
	%dd= location.applicants.size
	%dt= t(:requests_count)
	%dd= location.requests.size