- if locations.empty?
	%p= t('.empty')

- else
	%table.table.table-striped
		%thead
			%tr
				%th #
				%th= t('locations.form.name')
				%th= t(:users_count)
				%th= t(:applicants_count)
				%th= t(:requests_count)
		%tbody
			- i = 1
			- locations.each do |location|
				%tr
					%td= i
					- i += 1
					%td= link_to location.name, location
					%td= location.users.size
					%td= location.applicants.size
					%td= location.requests.size