!!! 5
%html
	%head
		%title
			خدمة العطل و الإجازات
			= yield :title
		= stylesheet_link_tag :application
		-#= javascript_include_tag :application
		= csrf_meta_tags
	%body
		- admin = false
		%div.navbar.navbar-static-top
			%div.navbar-inner
				%div.container.text-right
					%div.navbar-form.pull-right= link_to 'Logout', '#', class: 'btn btn-danger'					
					%ul.nav.pull-left
						%li{class: @adduser_link}= link_to t('.new_user'), '#'
						%li{class: @message_link}= link_to t('.alert_users'), '#'
						%li{class: @accept_link}= link_to t('.received_requests'), '#'
						%li{class: @request_link}= link_to t('.previous_requests'), '#'
						%li{class: @vacation_link}= link_to t('.new_vacation'), new_vacation_path
						%li{class: @ticket_link}= link_to t('.new_ticket'), new_ticket_path
						%li{class: @leave_link}= link_to t('.new_leave'), new_leafe_path
						-#= link_to 'خدمة العطل و الإجازات', '#', class: "brand"
			
		%div.container.text-center
			= yield
			
			%hr
			
			%footer
				%p © Saleh Saifi 2013