!!! 5
%html
	%head
		%title
			RequestsWebsite
			= yield :title
		= stylesheet_link_tag :application
		= javascript_include_tag :application
		= csrf_meta_tags
	- ar = I18n.locale == :ar
	
	%body{ dir: ar ? 'rtl' : 'ltr' }
		%header
			= render '/partials/header', ar: ar
		
		%div.container.text-center
			= yield
				
			%hr
				
			%footer
				%p © Saleh Saifi 2013