!!! 5
- ar = I18n.locale == :ar
%html
  %head
    %title
      = "#{t(:page_title)} -"
      = yield :title
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  - admin = @current_user.try :admin
  %body{ dir: get_page_dir(I18n.locale) }
    = render '/layouts/header', ar: ar, admin: admin, notice: flash[:notice], warning: flash[:warning]
    %div.container.text-center
      = yield
    = render '/layouts/footer'
